@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Github:  <a href="https://github.com/vinolemos">VinoLemos</a>.</p>
    <p>Linkedin: <a href="https://linkedin.com/in/vinolemos">VinoLemos Linkedin</a>.</p>
</div>
